<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e8f80c58-c24d-454a-8b86-547f666ad60f/resourceGroups/kreed-pokemonapp_group/providers/Microsoft.Web/sites/kreed-pokemonapp</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kreed-pokemonapp-asbggnfegkgchcea.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>62870181-f722-42c3-8c65-f479908f5519</ProjectGuid>
    <PublishUrl>https://kreed-pokemonapp-asbggnfegkgchcea.scm.eastus-01.azurewebsites.net/</PublishUrl>
    <UserName>$kreed-pokemonapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>